
#
# Top level objects
#

dn: dc={{ org_name }},dc={{ org_type }}
objectClass: dcObject
objectclass: organization
o: {{ org_name }} {{ org_type }}
dc: {{ org_name }}

dn: cn=Manager,dc={{ org_name }},dc={{ org_type }}
objectClass: organizationalRole
cn: Manager
description: Directory Manager

dn: ou=Users,dc={{ org_name }},dc={{ org_type }}
objectClass: organizationalUnit
ou: Users

dn: ou=Groups,dc={{ org_name }},dc={{ org_type }}
objectClass: organizationalUnit
ou: Groups

#
# Users
#

dn: cn={{ db_adminuser_name }},ou=Users,dc={{ org_name }},dc={{ org_type }}
objectclass: inetOrgPerson
objectclass: person
objectclass: organizationalPerson
cn: {{ db_adminuser_name }}
sn: {{ db_adminuser_name }}
uid: {{ db_adminuser_name }}
userpassword: {{ adminuserpasswd_hash }}

dn: cn={{ db_sampleuser_name }},ou=Users,dc={{ org_name }},dc={{ org_type }}
objectclass: inetOrgPerson
objectclass: person
objectclass: organizationalPerson
cn: {{ db_sampleuser_name }}
sn: {{ db_sampleuser_name }}
uid: {{ db_sampleuser_name }}
userpassword: {{ sampleuserpasswd_hash }}

#
# Groups
#

dn: cn=DBAdmin,ou=Groups,dc={{ org_name }},dc={{ org_type }}
objectclass: groupofnames
cn: DBAdmin
member: cn={{ db_adminuser_name }},ou=Users,dc={{ org_name }},dc={{ org_type }}

dn: cn=AppReadOnly,ou=Groups,dc={{ org_name }},dc={{ org_type }}
objectclass: groupofnames
cn: AppReadOnly
member: cn={{ db_adminuser_name }},ou=Users,dc={{ org_name }},dc={{ org_type }}
member: cn={{ db_sampleuser_name }},ou=Users,dc={{ org_name }},dc={{ org_type }}

