// ***START: Imported JavaScript snippet to establish allowable client ip addresses***
var clientIPs = ["127.0.0.1", "192.168.14.100", "192.168.14.101", "192.168.14.102", "192.168.14.103", "192.168.14.109"];
// ***END: Imported JavaScript snippet to establish allowable client ip addresses***

