//
// Mongo Shell script to create or referenece (if LDAP/Kerberos) a sample user
// who has access to a sample database (including setting allowable client IP
// addresses for the sample user to authenticate from).
//

{% include "authenticate.js.j2" %}
{% include "client_ips.js.j2" %}


//
// Create a read-only role on the adults collection/view only
//

{% if client_auth_method == 'ldap' and ldap_integration == 'direct' and role_membership == 'external' %}
rolename = "cn=AppReadOnly,ou=Groups,dc={{ org_name }},dc={{ org_type }}";
{% else %}
rolename = "AppReadOnly";
{% endif %}

db.getSiblingDB("admin").createRole(
    {
        role: rolename,
        privileges: [
            {resource: { db: "maindata", collection: "adults" }, actions: ["find"]}
        ],
        roles: []
    }
 );


//
// Create user in admin or external dataabase, associated with the new role
//

{% if client_auth_method == 'userpwd' %}
// Creating local database user for SCRAM-SHA-1 user access
db.getSiblingDB("admin").createUser(
    {
      user : "{{ db_sampleuser_name }}",
      pwd  : "{{ db_sampleuser_password }}",
      roles: [ { role: rolename, db: "admin" } ],
      authenticationRestrictions: [ {
            clientSource: clientIPs
      } ]
    }
 );
{% elif client_auth_method == 'cert' %}
// Creating external authentication reference for certficate user accss
db.getSiblingDB("$external").createUser(
    {
      user : "CN={{ db_sampleuser_name }}{{ client_dn_suffix }}",
      roles: [ { role: rolename, db: "admin" } ],
      authenticationRestrictions: [ {
            clientSource: clientIPs
      } ]
    }
 );
{% elif client_auth_method == 'ldap' and ldap_integration == 'direct' and role_membership == 'external' %}
// Don't create user because using native LDAP integration with external authorization, because the external LDAP configuration already infers it 
// the user - however take this opportunitiy to define the IP address whitelist against the role
db.getSiblingDB("admin").updateRole("cn=AppReadOnly,ou=Groups,dc={{ org_name }},dc={{ org_type }}", {
    authenticationRestrictions: [ {
        clientSource: clientIPs
    } ]
 });

{% elif client_auth_method == 'ldap' %}
// Creating external authentication reference for LDAP proxy or direct user access, and role mappings managed internally
db.getSiblingDB("$external").createUser(
    {
      user : "{{ db_sampleuser_name }}",
      roles: [ { role: rolename, db: "admin" } ],
      authenticationRestrictions: [ {
            clientSource: clientIPs
      } ]
    }
 );
{% elif client_auth_method == 'kerberos' %}
// Creating external authentication reference fer Kerberos user access
db.getSiblingDB("$external").createUser(
    {
      user : "{{ db_sampleuser_name }}@{{ org_name|upper }}.{{ org_type|upper }}",
      roles: [ { role: rolename, db: "admin" } ],
      authenticationRestrictions: [ {
            clientSource: clientIPs
      } ]
    }
 );
{% else %}
// Nothing to do as authentication is not enabled in MongoDB 
{% endif %}



