//
// Mongo Shell script to create some sample data in a sample database and
// collection
//

{% include "authenticate.js.j2" %}

db = db.getSiblingDB("maindata");

db.people.insert([
    {name: 'Alice', favcolour: 'Blue', age: 41},
    {name: 'Bob', favcolour: 'Pink', age: 39},
    {name: 'Kate', favcolour: 'Green', age: 12},
    {name: 'William', favcolour: 'Yellow', age: 41}
]);

db.createView("adults", "people", [
    { $match: {age: {$gt: 18}} },
    { $project: {age: 0} }
]);


