centralit:192.168.14.100 centralit.vagrant.dev centralit
dbnode1:192.168.14.101 dbnode1.vagrant.dev dbnode1
dbnode2:192.168.14.102 dbnode2.vagrant.dev dbnode2
dbnode3:192.168.14.103 dbnode3.vagrant.dev dbnode3
client:192.168.14.109 client.vagrant.dev client

